workspace/FirstPrj/EmployeeList.dtd

<!ELEMENT EmployeeList (Employee+)> <!--this + means one to many .. Employee* == zero to many ,, Employee? 0 to 1-->
<!ELEMENT Employee (EmployeeId,name,designation,salary)> <!-- DTD is validating the XML grammar.. checking the grammar -->
<!ELEMENT EmployeeId (#PCDATA) >
<!ELEMENT name (#PCDATA) >
<!ELEMENT designation (#PCDATA) >
<!ELEMENT salary (#PCDATA) >